html{
    height: 100%;
}
h1{
    font-family: monospace;
    width: 5; 
}

body{
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-image: url(img/images.jpg);
    background-size: cover;
    height: 100%;
}

button{
    font-family: monospace;
    color: deepskyblue;
}
div{
    padding-top: 20;
    padding-bottom: 20;
}